@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Borel&family=Comme:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comme", sans-serif;
    font-weight: 500;
}

main {
    width: 100%;
    min-height: 100vh;
    font-weight: 700;
    background-image: url(../img/PolygonLuminary.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

main h1 {
    font-family: "Borel", cursive;
    font-weight: 700;
}

main .card {
    max-width: 400px;
    min-height: 400px;
    border-radius: 20px;
}

main .card img {
    width: 50%;
    height: 170px;
}

main .card button {
    background-color: #e0e1e1;
    border-radius: 15px;
    font-size: 20px;
}

main .btns {
    width: 100px;
    height: 45px;
}

main .mt-3 {
    width: 200px;
}