@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Borel&family=Comme:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comme", sans-serif;
    font-weight: 500;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #490d61 ; 
}
   
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    cursor: auto;
}

main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    color: #fff;
}

main .card input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    appearance: none;
    background: rgba(255, 255, 255, 0.2);
}

main .card input::placeholder {
    color: #ddd;
}

#show-more-btn {
    display: none;
}


#search-result img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 700px) {
    #search {
        width: 350px;
        margin-top: 20px;
        margin-right: 18px;
    }
}